

1. *pandas* - שימשה לטעינת נתונים, ניתוח נתונים וטיפול במסגרת נתונים (DataFrame).

2. *matplotlib.pyplot* - שימשה ליצירת גרפים ויזואליים להצגת תוצאות הניתוחים והמודלים.

3. *seaborn* - ספרייה נוספת ליצירת גרפים, המשמשת להצגה ברורה יותר של נתונים וניתוחם, לדוגמה: heatmaps ו-violin plots.

4. *sklearn.impute* - שימשה לטיפול בערכים חסרים בנתונים על ידי השלמה או הסרה שלהם.

5. *sklearn.model_selection* - שימשה לחלוקת הנתונים לסטי אימון ובדיקה ולביצוע cross-validation.

6. *sklearn.preprocessing* - שימשה לעיבוד מקדים של הנתונים, כולל נירמול, סקלינג, וקידוד משתנים קטגוריאליים.

7. *imblearn.over_sampling* - שימשה לטיפול באי-איזון של קטגוריות בנתונים, לדוגמה, על ידי טכניקות כמו SMOTE.

8. *collections* - מודול מובנה ב-Python ששימש, למשל, לניהול מבני נתונים כמו מונים או מילונים.

9. *sklearn.ensemble* - שימשה למודלים מבוססי אנבול, כמו Random Forest ו-Gradient Boosting.

10. *xgboost* - שימשה לאימון מודלים של Boosted Trees, שהיא טכניקה חזקה בבעיות רגרסיה וסיווג.

11. *sklearn.svm* - שימשה לאימון מודלים של Support Vector Machines לבעיות סיווג או רגרסיה.

12. *sklearn.neighbors* - שימשה למודלים מבוססי שכנים קרובים (KNN).

13. *sklearn.tree* - שימשה לבניית עצי החלטה.

14. *sklearn.metrics* - שימשה לחישוב מדדים להערכת ביצועי המודלים, כמו דיוק (accuracy), F1-score, וכדומה.

15. *sklearn.cluster* - שימשה לביצוע ניתוח אשכולות (Clustering), לדוגמה, עם K-Means.

16. *numpy* - שימשה לחישובים מתמטיים וטיפול במערכים רב-ממדיים.

